
<div class="container" *ngIf="details !== null">
  <div class="code-details">
    <h2>Code Details</h2>
    <p><strong>Code:</strong> {{details.code}}</p>
    <p><strong>Price:</strong> ${{details.totalPrice}}</p>
    <p><strong>Quantity:</strong> {{details.totalQuantity}}</p>
  </div>

  <div class="products">
    <div class="product-card" *ngFor="let pro of details.products">
      <img src="../../../assets/img/{{pro.logoPath}}.jpg" alt="Product Logo">
      <h3>{{pro.name}}</h3>
      <p><strong>ID:</strong> {{pro.id}}</p>
      <p><strong>Description:</strong>{{pro.description}}</p>
      <p><strong>Price:</strong> {{pro.price}}</p>
    </div>
    <!-- Add more product-card divs as needed -->
  </div>
</div>

<div *ngIf="allOrderDetails.length !== 0">
    <div class="container"  *ngFor="let allOrders of allOrderDetails">
    <div class="code-details">
      <h2>Code Details</h2>
      <p *ngIf="allOrders.userName"><strong>user name:</strong> {{allOrders.userName}}</p>
      <p *ngIf="allOrders.email"><strong>email:</strong> {{allOrders.email}}</p>
      <p><strong>Code:</strong> {{allOrders.code}}</p>
      <p><strong>Price:</strong> ${{allOrders.totalPrice}}</p>
      <p><strong>Quantity:</strong> {{allOrders.totalQuantity}}</p>
    </div>

    <div class="products">
      <div class="product-card" *ngFor="let pro of allOrders.products">
        <img src="../../../assets/img/{{pro.logoPath}}.jpg" alt="Product Logo">
        <h3>{{pro.name}}</h3>
        <p><strong>ID:</strong> {{pro.id}}</p>
        <p><strong>Description:</strong>{{pro.description}}</p>
        <p><strong>Price:</strong> {{pro.price}}</p>
      </div>
      <!-- Add more product-card divs as needed -->
    </div>
  </div>
</div>

