<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    
    
    <!--
    <context:property-placeholder location="classpath:data.properties"/>
    <context:component-scan base-package="spring.core.service.impl"></context:component-scan>
    
    <bean id="studentService" class="spring.core.service.impl.StudentService">
    <property name="name" value="${student.service.name}"></property>
    </bean>
    <context:component-scan base-package="spring.core.service.impl"></context:component-scan>
    
    <bean id="facebook" class="spring.core.service.impl.FacebookAccountImpl">
    </bean>
    <bean id="studentService" class="spring.core.service.impl.StudentService"
    		init-method="openConnection" destroy-method="closeConnection">

    </bean>
    
    
    <bean id="facebookAccount" class="spring.core.service.impl.FacebookAccountImpl" scope="prototype">
    </bean>
    
    <bean id="instagramAccount" class="spring.core.service.impl.InstagramAccountImpl">
    </bean>
    
    <bean id="whatsAppAccount" class="spring.core.service.impl.WhatsAppAccountImpl">
    </bean>
    
    <bean id="socialAccount" class="spring.core.service.impl.SocialAccount">
    	 <constructor-arg ref="whatsAppAccount"></constructor-arg> 
    	<property name="accountService" ref="instagramAccount"></property>
    </bean>
    -->
</beans>







