<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    
    <context:component-scan base-package="com.sring.core"></context:component-scan>
    <context:property-placeholder location="classpath:data2.properties"/>
    <!--  
    <context:property-placeholder location="classpath:data2.properties"/>
    
    <bean id="privateSchoolImpl" class="com.sring.core.PrivateSchoolImpl">
    </bean>
    
    
    <bean id="publicSchoolImpl" class="com.sring.core.PublicSchoolImpl">
    </bean>
    
    
    <bean id="schoolIOC" class="com.sring.core.SchoolIOC" scope="prototype">
    	 <constructor-arg ref="publicSchoolImpl"></constructor-arg> 
    	<property name="schoolService" ref="publicSchoolImpl"></property>
    </bean>
    
    <bean id="dbConnection" class="com.sring.core.DBConnection">
    <property name="name" value="${app_service-name}"></property>
    </bean>
    -->
</beans>





