<ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">

  <li class="nav-item" *ngFor="let category of categories">
<!--    <a routerLink="category/{{category.id}}" [ngClass]="{'active': category.name === 'ALL'}"  class="d-flex align-items-center text-start mx-3 ms-0 pb-3" data-bs-toggle="pill" href="#tab-1">-->
    <a [routerLink]="category.name === 'ALL'? '/products' : 'category/' + category.id" [ngClass]="{'active': category.name === 'ALL'}"  class="d-flex align-items-center text-start mx-3 ms-0 pb-3" data-bs-toggle="pill" href="#tab-1">
      <i class="{{category.logoPath}} fa-2x text-primary"></i>
      <div class="ps-3">
        <small class="text-body">{{category.flag}}</small>
        <h6 class="mt-n1 mb-0">{{category.name}}</h6>
      </div>
    </a>
  </li>
<!--  <li class="nav-item">-->
<!--    <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 active" data-bs-toggle="pill" href="#tab-1">-->
<!--      <i class="fa fa-shopping-cart fa-2x text-primary"></i>-->
<!--      <div class="ps-3">-->
<!--        <small class="text-body">Popular</small>-->
<!--        <h6 class="mt-n1 mb-0">ALL</h6>-->
<!--      </div>-->
<!--    </a>-->
<!--  </li>-->



<!--  <li class="nav-item">-->
<!--    <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3" data-bs-toggle="pill" href="#tab-1">-->
<!--      <i class="fa fa-bread-slice fa-2x text-primary"></i>-->
<!--      <div class="ps-3">-->
<!--        <small class="text-body">Popular</small>-->
<!--        <h6 class="mt-n1 mb-0">Breakfast</h6>-->
<!--      </div>-->
<!--    </a>-->
<!--  </li>-->
<!--  <li class="nav-item">-->
<!--    <a class="d-flex align-items-center text-start mx-3 pb-3" data-bs-toggle="pill" href="#tab-1">-->
<!--      <i class="fa fa-hamburger fa-2x text-primary"></i>-->
<!--      <div class="ps-3">-->
<!--        <small class="text-body">Special</small>-->
<!--        <h6 class="mt-n1 mb-0">Launch</h6>-->
<!--      </div>-->
<!--    </a>-->
<!--  </li>-->
<!--  <li class="nav-item">-->
<!--    <a class="d-flex align-items-center text-start mx-3 me-0 pb-3" data-bs-toggle="pill" href="#tab-1">-->
<!--      <i class="fa fa-utensils fa-2x text-primary"></i>-->
<!--      <div class="ps-3">-->
<!--        <small class="text-body">Lovely</small>-->
<!--        <h6 class="mt-n1 mb-0">Dinner</h6>-->
<!--      </div>-->
<!--    </a>-->
<!--  </li>-->
<!--  <li class="nav-item">-->
<!--    <a class="d-flex align-items-center text-start mx-3 me-0 pb-3" data-bs-toggle="pill" href="#tab-1">-->
<!--      <i class="fa fa-ice-cream fa-2x text-primary"></i>-->
<!--      <div class="ps-3">-->
<!--        <small class="text-body">Lovely</small>-->
<!--        <h6 class="mt-n1 mb-0">Ice Cream</h6>-->
<!--      </div>-->
<!--    </a>-->
<!--  </li>-->
<!--  <li class="nav-item">-->
<!--    <a class="d-flex align-items-center text-start mx-3 me-0 pb-3" data-bs-toggle="pill" href="#tab-1">-->
<!--      <i class="fa fa-coffee fa-2x text-primary"></i>-->
<!--      <div class="ps-3">-->
<!--        <small class="text-body">Lovely</small>-->
<!--        <h6 class="mt-n1 mb-0">Coffee</h6>-->
<!--      </div>-->
<!--    </a>-->
<!--  </li>-->
<!--  <li class="nav-item">-->
<!--    <a class="d-flex align-items-center text-start mx-3 me-0 pb-3" data-bs-toggle="pill" href="#tab-1">-->
<!--      <i class="fa fa-birthday-cake fa-2x text-primary"></i>-->
<!--      <div class="ps-3">-->
<!--        <small class="text-body">Lovely</small>-->
<!--        <h6 class="mt-n1 mb-0">Cake</h6>-->
<!--      </div>-->
<!--    </a>-->
<!--  </li>-->
</ul>
