
      <div class="tab-content" *ngIf="products.length > 0">
        <div id="tab-1" class="tab-pane fade show p-0 active">
          <div class="row g-4">
            <div *ngFor="let product of products" class="col-lg-6">
              <div class="d-flex align-items-center">
                <img class="flex-shrink-0 img-fluid rounded" src="../../../assets/img/{{product.imagePath}}" alt="" style="width: 80px;">
                <div class="w-100 d-flex flex-column text-start ps-4">
                  <h5 class="d-flex justify-content-between border-bottom pb-2">
                    <span>{{product.name}}</span>
                    <span class="text-primary">${{product.price}}</span>
                  </h5>
                  <small class="fst-italic">{{product.description}}</small>
                  <button type="button" class="btn btn-danger col-lg-6">ADD to Card</button>
                </div>
              </div>
            </div>

            <div class="col-md-9 pag" style="padding-left: 30%">
                              <ngb-pagination
                                [(page)]="page"
                                [pageSize]="pageSize"
                                [collectionSize]="collectionSize"
                                (pageChange)="pagination()"
                                [maxSize]="5"
                                [boundaryLinks]="true"
                              >
                              </ngb-pagination>
<!--

 (pageChange)="doing()"


 -->
              <div class="sel">
                <span class="mr-2">Page Size</span>
                <select (change)="changePageSize($event)">
                  <option>2</option>
                  <option>5</option>
                  <option selected="true">10</option>
                  <option>20</option>
                  <option>50</option>
                </select>
              </div>


            </div>
          </div>
        </div>
      </div>


      <div class="info-section" *ngIf="messageEn || messageAr">
        <div class="info-header">
          <span class="info-icon">ℹ️</span>
          <h3>Information</h3>
        </div>

        <div class="info-content">
          <div class="message-box">
            <label>Arabic Message</label>
            <p>{{ messageAr }}</p>
          </div>

          <div class="message-box">
            <label>English Message</label>
            <p>{{ messageEn }}</p>
          </div>
        </div>
      </div>
