
      <div class="tab-content">
        <div id="tab-1" class="tab-pane fade show p-0 active">
          <div class="row g-4">

            <div class="col-lg-6" *ngFor="let product of products">
              <div class="d-flex align-items-center">
                <img class="flex-shrink-0 img-fluid rounded" src="../assets/img/{{product.logoPath}}.jpg" alt="" style="width: 80px; height: 40px">
                <div class="w-100 d-flex flex-column text-start ps-4">
                  <h5 class="d-flex justify-content-between border-bottom pb-2">
                    <span>{{product.name}}</span>
                    <span class="text-primary">{{product.price}}$</span>
                  </h5>
                  <small class="fst-italic">{{product.description}}</small>
                  <button type="button" class="btn btn-danger col-lg-6" (click)="addProduct(product)">ADD to Card</button>
                </div>
              </div>
            </div>

            <div *ngIf="productSize === -1">
              <p class="no-products-message">{{messageResultEn}}</p> <br>
              <p class="no-products-message-ar">{{messageResultAr}}</p> <br>

            </div>

            <div *ngIf="productSize === -2" class="waiting-message">
              🌟 Stay tuned! Something amazing is coming soon. 🚀
            </div>

            <div class="col-md-9 pag" style="padding-left: 30%">
              <div *ngIf="productSize !== -2 && productSize !== 0 && productSize !== -1">
                <ngb-pagination
                  [(page)]="pageNumber"
                  [pageSize]="pageSize"
                  [collectionSize]="productsCollection"
                  (pageChange)="doPagination()"
                  [maxSize]="5"
                  [boundaryLinks]="true"
                >
                </ngb-pagination>


                <div class="sel">
                  <span class="mr-2">Page Size</span>
                  <select (change)="changePageSize($event)">
                    <option>2</option>
                    <option>5</option>
                    <option selected="true">10</option>
                    <option>20</option>
                    <option>50</option>
                  </select>
                </div>
              </div>
              <!--              >-->
<!--              <ngb-pagination-->
<!--                [(page)]="page"-->
<!--                [pageSize]="pageLength"-->
<!--                [collectionSize]="productSize"-->
<!--                (pageChange)="doing()"-->
<!--                [maxSize]="5"-->
<!--                [boundaryLinks]="true"-->
<!--              /ngb-pagination>-->
<!--              >-->

<!--              </ngb-pagination>-->

            </div>
          </div>
        </div>
      </div>



<!--      <div class="col-lg-6">-->
<!--        <div class="d-flex align-items-center">-->
<!--          <img class="flex-shrink-0 img-fluid rounded" src="assets/img/menu-2.jpg" alt="" style="width: 80px;">-->
<!--          <div class="w-100 d-flex flex-column text-start ps-4">-->
<!--            <h5 class="d-flex justify-content-between border-bottom pb-2">-->
<!--              <span>Chicken Burger</span>-->
<!--              <span class="text-primary">$115</span>-->
<!--            </h5>-->
<!--            <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>-->
<!--            <button type="button" class="btn btn-danger col-lg-6">ADD to Card</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-lg-6">-->
<!--        <div class="d-flex align-items-center">-->
<!--          <img class="flex-shrink-0 img-fluid rounded" src="../../../assets/img/menu-3.jpg" alt="" style="width: 80px;">-->
<!--          <div class="w-100 d-flex flex-column text-start ps-4">-->
<!--            <h5 class="d-flex justify-content-between border-bottom pb-2">-->
<!--              <span>Chicken Burger</span>-->
<!--              <span class="text-primary">$115</span>-->
<!--            </h5>-->
<!--            <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>-->
<!--            <button type="button" class="btn btn-danger col-lg-6">ADD to Card</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-lg-6">-->
<!--        <div class="d-flex align-items-center">-->
<!--          <img class="flex-shrink-0 img-fluid rounded" src="../../../assets/img/menu-4.jpg" alt="" style="width: 80px;">-->
<!--          <div class="w-100 d-flex flex-column text-start ps-4">-->
<!--            <h5 class="d-flex justify-content-between border-bottom pb-2">-->
<!--              <span>Chicken Burger</span>-->
<!--              <span class="text-primary">$115</span>-->
<!--            </h5>-->
<!--            <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>-->
<!--            <button type="button" class="btn btn-danger col-lg-6">ADD to Card</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-lg-6">-->
<!--        <div class="d-flex align-items-center">-->
<!--          <img class="flex-shrink-0 img-fluid rounded" src="../../../assets/img/menu-5.jpg" alt="" style="width: 80px;">-->
<!--          <div class="w-100 d-flex flex-column text-start ps-4">-->
<!--            <h5 class="d-flex justify-content-between border-bottom pb-2">-->
<!--              <span>Chicken Burger</span>-->
<!--              <span class="text-primary">$115</span>-->
<!--            </h5>-->
<!--            <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>-->
<!--            <button type="button" class="btn btn-danger col-lg-6">ADD to Card</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-lg-6">-->
<!--        <div class="d-flex align-items-center">-->
<!--          <img class="flex-shrink-0 img-fluid rounded" src="../../../assets/img/menu-6.jpg" alt="" style="width: 80px;">-->
<!--          <div class="w-100 d-flex flex-column text-start ps-4">-->
<!--            <h5 class="d-flex justify-content-between border-bottom pb-2">-->
<!--              <span>Chicken Burger</span>-->
<!--              <span class="text-primary">$115</span>-->
<!--            </h5>-->
<!--            <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>-->
<!--            <button type="button" class="btn btn-danger col-lg-6">ADD to Card</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-lg-6">-->
<!--        <div class="d-flex align-items-center">-->
<!--          <img class="flex-shrink-0 img-fluid rounded" src="../../../assets/img/menu-7.jpg" alt="" style="width: 80px;">-->
<!--          <div class="w-100 d-flex flex-column text-start ps-4">-->
<!--            <h5 class="d-flex justify-content-between border-bottom pb-2">-->
<!--              <span>Chicken Burger</span>-->
<!--              <span class="text-primary">$115</span>-->
<!--            </h5>-->
<!--            <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>-->
<!--            <button type="button" class="btn btn-danger col-lg-6">ADD to Card</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-lg-6">-->
<!--        <div class="d-flex align-items-center">-->
<!--          <img class="flex-shrink-0 img-fluid rounded" src="../../../assets/img/menu-8.jpg" alt="" style="width: 80px;">-->
<!--          <div class="w-100 d-flex flex-column text-start ps-4">-->
<!--            <h5 class="d-flex justify-content-between border-bottom pb-2">-->
<!--              <span>Chicken Burger</span>-->
<!--              <span class="text-primary">$115</span>-->
<!--            </h5>-->
<!--            <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>-->
<!--            <button type="button" class="btn btn-danger col-lg-6">ADD to Card</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-lg-6">-->
<!--        <div class="d-flex align-items-center">-->
<!--          <img class="flex-shrink-0 img-fluid rounded" src="../../../assets/img/menu-1.jpg" alt="" style="width: 80px;">-->
<!--          <div class="w-100 d-flex flex-column text-start ps-4">-->
<!--            <h5 class="d-flex justify-content-between border-bottom pb-2">-->
<!--              <span>Chicken Burger</span>-->
<!--              <span class="text-primary">$115</span>-->
<!--            </h5>-->
<!--            <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>-->
<!--            <button type="button" class="btn btn-danger col-lg-6">ADD to Card</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-lg-6">-->
<!--        <div class="d-flex align-items-center">-->
<!--          <img class="flex-shrink-0 img-fluid rounded" src="../../../assets/img/menu-2.jpg" alt="" style="width: 80px;">-->
<!--          <div class="w-100 d-flex flex-column text-start ps-4">-->
<!--            <h5 class="d-flex justify-content-between border-bottom pb-2">-->
<!--              <span>Chicken Burger</span>-->
<!--              <span class="text-primary">$115</span>-->
<!--            </h5>-->
<!--            <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>-->
<!--            <button type="button" class="btn btn-danger col-lg-6">ADD to Card</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-lg-6">-->
<!--        <div class="d-flex align-items-center">-->
<!--          <img class="flex-shrink-0 img-fluid rounded" src="../../../assets/img/menu-3.jpg" alt="" style="width: 80px;">-->
<!--          <div class="w-100 d-flex flex-column text-start ps-4">-->
<!--            <h5 class="d-flex justify-content-between border-bottom pb-2">-->
<!--              <span>Chicken Burger</span>-->
<!--              <span class="text-primary">$115</span>-->
<!--            </h5>-->
<!--            <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>-->
<!--            <button type="button" class="btn btn-danger col-lg-6">ADD to Card</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-lg-6">-->
<!--        <div class="d-flex align-items-center">-->
<!--          <img class="flex-shrink-0 img-fluid rounded" src="../../../assets/img/menu-4.jpg" alt="" style="width: 80px;">-->
<!--          <div class="w-100 d-flex flex-column text-start ps-4">-->
<!--            <h5 class="d-flex justify-content-between border-bottom pb-2">-->
<!--              <span>Chicken Burger</span>-->
<!--              <span class="text-primary">$115</span>-->
<!--            </h5>-->
<!--            <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>-->
<!--            <button type="button" class="btn btn-danger col-lg-6">ADD to Card</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-lg-6">-->
<!--        <div class="d-flex align-items-center">-->
<!--          <img class="flex-shrink-0 img-fluid rounded" src="../../../assets/img/menu-5.jpg" alt="" style="width: 80px;">-->
<!--          <div class="w-100 d-flex flex-column text-start ps-4">-->
<!--            <h5 class="d-flex justify-content-between border-bottom pb-2">-->
<!--              <span>Chicken Burger</span>-->
<!--              <span class="text-primary">$115</span>-->
<!--            </h5>-->
<!--            <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>-->
<!--            <button type="button" class="btn btn-danger col-lg-6">ADD to Card</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-lg-6">-->
<!--        <div class="d-flex align-items-center">-->
<!--          <img class="flex-shrink-0 img-fluid rounded" src="../../../assets/img/menu-6.jpg" alt="" style="width: 80px;">-->
<!--          <div class="w-100 d-flex flex-column text-start ps-4">-->
<!--            <h5 class="d-flex justify-content-between border-bottom pb-2">-->
<!--              <span>Chicken Burger</span>-->
<!--              <span class="text-primary">$115</span>-->
<!--            </h5>-->
<!--            <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>-->
<!--            <button type="button" class="btn btn-danger col-lg-6">ADD to Card</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-lg-6">-->
<!--        <div class="d-flex align-items-center">-->
<!--          <img class="flex-shrink-0 img-fluid rounded" src="../../../assets/img/menu-7.jpg" alt="" style="width: 80px;">-->
<!--          <div class="w-100 d-flex flex-column text-start ps-4">-->
<!--            <h5 class="d-flex justify-content-between border-bottom pb-2">-->
<!--              <span>Chicken Burger</span>-->
<!--              <span class="text-primary">$115</span>-->
<!--            </h5>-->
<!--            <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>-->
<!--            <button type="button" class="btn btn-danger col-lg-6">ADD to Card</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-lg-6">-->
<!--        <div class="d-flex align-items-center">-->
<!--          <img class="flex-shrink-0 img-fluid rounded" src="../../../assets/img/menu-8.jpg" alt="" style="width: 80px;">-->
<!--          <div class="w-100 d-flex flex-column text-start ps-4">-->
<!--            <h5 class="d-flex justify-content-between border-bottom pb-2">-->
<!--              <span>Chicken Burger</span>-->
<!--              <span class="text-primary">$115</span>-->
<!--            </h5>-->
<!--            <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>-->
<!--            <button type="button" class="btn btn-danger col-lg-6">ADD to Card</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-lg-6">-->
<!--        <div class="d-flex align-items-center">-->
<!--          <img class="flex-shrink-0 img-fluid rounded" src="../../../assets/img/menu-1.jpg" alt="" style="width: 80px;">-->
<!--          <div class="w-100 d-flex flex-column text-start ps-4">-->
<!--            <h5 class="d-flex justify-content-between border-bottom pb-2">-->
<!--              <span>Chicken Burger</span>-->
<!--              <span class="text-primary">$115</span>-->
<!--            </h5>-->
<!--            <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>-->
<!--            <button type="button" class="btn btn-danger col-lg-6">ADD to Card</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-lg-6">-->
<!--        <div class="d-flex align-items-center">-->
<!--          <img class="flex-shrink-0 img-fluid rounded" src="../../../assets/img/menu-2.jpg" alt="" style="width: 80px;">-->
<!--          <div class="w-100 d-flex flex-column text-start ps-4">-->
<!--            <h5 class="d-flex justify-content-between border-bottom pb-2">-->
<!--              <span>Chicken Burger</span>-->
<!--              <span class="text-primary">$115</span>-->
<!--            </h5>-->
<!--            <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>-->
<!--            <button type="button" class="btn btn-danger col-lg-6">ADD to Card</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-lg-6">-->
<!--        <div class="d-flex align-items-center">-->
<!--          <img class="flex-shrink-0 img-fluid rounded" src="../../../assets/img/menu-3.jpg" alt="" style="width: 80px;">-->
<!--          <div class="w-100 d-flex flex-column text-start ps-4">-->
<!--            <h5 class="d-flex justify-content-between border-bottom pb-2">-->
<!--              <span>Chicken Burger</span>-->
<!--              <span class="text-primary">$115</span>-->
<!--            </h5>-->
<!--            <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>-->
<!--            <button type="button" class="btn btn-danger col-lg-6">ADD to Card</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-lg-6">-->
<!--        <div class="d-flex align-items-center">-->
<!--          <img class="flex-shrink-0 img-fluid rounded" src="../../../assets/img/menu-4.jpg" alt="" style="width: 80px;">-->
<!--          <div class="w-100 d-flex flex-column text-start ps-4">-->
<!--            <h5 class="d-flex justify-content-between border-bottom pb-2">-->
<!--              <span>Chicken Burger</span>-->
<!--              <span class="text-primary">$115</span>-->
<!--            </h5>-->
<!--            <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>-->
<!--            <button type="button" class="btn btn-danger col-lg-6">ADD to Card</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-lg-6">-->
<!--        <div class="d-flex align-items-center">-->
<!--          <img class="flex-shrink-0 img-fluid rounded" src="../../../assets/img/menu-5.jpg" alt="" style="width: 80px;">-->
<!--          <div class="w-100 d-flex flex-column text-start ps-4">-->
<!--            <h5 class="d-flex justify-content-between border-bottom pb-2">-->
<!--              <span>Chicken Burger</span>-->
<!--              <span class="text-primary">$115</span>-->
<!--            </h5>-->
<!--            <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>-->
<!--            <button type="button" class="btn btn-danger col-lg-6">ADD to Card</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-lg-6">-->
<!--        <div class="d-flex align-items-center">-->
<!--          <img class="flex-shrink-0 img-fluid rounded" src="../../../assets/img/menu-6.jpg" alt="" style="width: 80px;">-->
<!--          <div class="w-100 d-flex flex-column text-start ps-4">-->
<!--            <h5 class="d-flex justify-content-between border-bottom pb-2">-->
<!--              <span>Chicken Burger</span>-->
<!--              <span class="text-primary">$115</span>-->
<!--            </h5>-->
<!--            <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>-->
<!--            <button type="button" class="btn btn-danger col-lg-6">ADD to Card</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-lg-6">-->
<!--        <div class="d-flex align-items-center">-->
<!--          <img class="flex-shrink-0 img-fluid rounded" src="../../../assets/img/menu-7.jpg" alt="" style="width: 80px;">-->
<!--          <div class="w-100 d-flex flex-column text-start ps-4">-->
<!--            <h5 class="d-flex justify-content-between border-bottom pb-2">-->
<!--              <span>Chicken Burger</span>-->
<!--              <span class="text-primary">$115</span>-->
<!--            </h5>-->
<!--            <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>-->
<!--            <button type="button" class="btn btn-danger col-lg-6">ADD to Card</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-lg-6">-->
<!--        <div class="d-flex align-items-center">-->
<!--          <img class="flex-shrink-0 img-fluid rounded" src="../../../assets/img/menu-8.jpg" alt="" style="width: 80px;">-->
<!--          <div class="w-100 d-flex flex-column text-start ps-4">-->
<!--            <h5 class="d-flex justify-content-between border-bottom pb-2">-->
<!--              <span>Chicken Burger</span>-->
<!--              <span class="text-primary">$115</span>-->
<!--            </h5>-->
<!--            <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>-->
<!--            <button type="button" class="btn btn-danger col-lg-6">ADD to Card</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-lg-6">-->
<!--        <div class="d-flex align-items-center">-->
<!--          <img class="flex-shrink-0 img-fluid rounded" src="../../../assets/img/menu-1.jpg" alt="" style="width: 80px;">-->
<!--          <div class="w-100 d-flex flex-column text-start ps-4">-->
<!--            <h5 class="d-flex justify-content-between border-bottom pb-2">-->
<!--              <span>Chicken Burger</span>-->
<!--              <span class="text-primary">$115</span>-->
<!--            </h5>-->
<!--            <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>-->
<!--            <button type="button" class="btn btn-danger col-lg-6">ADD to Card</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-lg-6">-->
<!--        <div class="d-flex align-items-center">-->
<!--          <img class="flex-shrink-0 img-fluid rounded" src="../../../assets/img/menu-2.jpg" alt="" style="width: 80px;">-->
<!--          <div class="w-100 d-flex flex-column text-start ps-4">-->
<!--            <h5 class="d-flex justify-content-between border-bottom pb-2">-->
<!--              <span>Chicken Burger</span>-->
<!--              <span class="text-primary">$115</span>-->
<!--            </h5>-->
<!--            <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>-->
<!--            <button type="button" class="btn btn-danger col-lg-6">ADD to Card</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-lg-6">-->
<!--        <div class="d-flex align-items-center">-->
<!--          <img class="flex-shrink-0 img-fluid rounded" src="../../../assets/img/menu-3.jpg" alt="" style="width: 80px;">-->
<!--          <div class="w-100 d-flex flex-column text-start ps-4">-->
<!--            <h5 class="d-flex justify-content-between border-bottom pb-2">-->
<!--              <span>Chicken Burger</span>-->
<!--              <span class="text-primary">$115</span>-->
<!--            </h5>-->
<!--            <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>-->
<!--            <button type="button" class="btn btn-danger col-lg-6">ADD to Card</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-lg-6">-->
<!--        <div class="d-flex align-items-center">-->
<!--          <img class="flex-shrink-0 img-fluid rounded" src="../../../assets/img/menu-4.jpg" alt="" style="width: 80px;">-->
<!--          <div class="w-100 d-flex flex-column text-start ps-4">-->
<!--            <h5 class="d-flex justify-content-between border-bottom pb-2">-->
<!--              <span>Chicken Burger</span>-->
<!--              <span class="text-primary">$115</span>-->
<!--            </h5>-->
<!--            <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>-->
<!--            <button type="button" class="btn btn-danger col-lg-6">ADD to Card</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-lg-6">-->
<!--        <div class="d-flex align-items-center">-->
<!--          <img class="flex-shrink-0 img-fluid rounded" src="../../../assets/img/menu-5.jpg" alt="" style="width: 80px;">-->
<!--          <div class="w-100 d-flex flex-column text-start ps-4">-->
<!--            <h5 class="d-flex justify-content-between border-bottom pb-2">-->
<!--              <span>Chicken Burger</span>-->
<!--              <span class="text-primary">$115</span>-->
<!--            </h5>-->
<!--            <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>-->
<!--            <button type="button" class="btn btn-danger col-lg-6">ADD to Card</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-lg-6">-->
<!--        <div class="d-flex align-items-center">-->
<!--          <img class="flex-shrink-0 img-fluid rounded" src="../../../assets/img/menu-6.jpg" alt="" style="width: 80px;">-->
<!--          <div class="w-100 d-flex flex-column text-start ps-4">-->
<!--            <h5 class="d-flex justify-content-between border-bottom pb-2">-->
<!--              <span>Chicken Burger</span>-->
<!--              <span class="text-primary">$115</span>-->
<!--            </h5>-->
<!--            <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>-->
<!--            <button type="button" class="btn btn-danger col-lg-6">ADD to Card</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-lg-6">-->
<!--        <div class="d-flex align-items-center">-->
<!--          <img class="flex-shrink-0 img-fluid rounded" src="../../../assets/img/menu-7.jpg" alt="" style="width: 80px;">-->
<!--          <div class="w-100 d-flex flex-column text-start ps-4">-->
<!--            <h5 class="d-flex justify-content-between border-bottom pb-2">-->
<!--              <span>Chicken Burger</span>-->
<!--              <span class="text-primary">$115</span>-->
<!--            </h5>-->
<!--            <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>-->
<!--            <button type="button" class="btn btn-danger col-lg-6">ADD to Card</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-lg-6">-->
<!--        <div class="d-flex align-items-center">-->
<!--          <img class="flex-shrink-0 img-fluid rounded" src="../../../assets/img/menu-8.jpg" alt="" style="width: 80px;">-->
<!--          <div class="w-100 d-flex flex-column text-start ps-4">-->
<!--            <h5 class="d-flex justify-content-between border-bottom pb-2">-->
<!--              <span>Chicken Burger</span>-->
<!--              <span class="text-primary">$115</span>-->
<!--            </h5>-->
<!--            <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>-->
<!--            <button type="button" class="btn btn-danger col-lg-6">ADD to Card</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
