.image-style {
  width: 100px !important;
}

.no-orders-message {
  color: gray;
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
}

.img {
  height: 60px !important;
}
.itemName {
  font-weight: bold;
}
