
.widthHeight{
  width: 55px !important;
}

.no-order {
  display: inline-block;
  padding: 12px 20px;
  background: #ffeded;
  color: #d9534f;
  border: 1px solid #d9534f;
  border-radius: 8px;
  font-size: 14px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease-in-out;
  width: 100%;
}

/* Fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}


img, svg {
  vertical-align: middle;
  width: 121% !important;
}
