<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-4">
        <h1 class="heading-section">Orders</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <!--					<h3 class="h5 mb-4 text-center">Table Accordion</h3>-->
        <div class="table-wrap">
          <table class="table">
            <thead class="thead-primary">
            <tr>
              <th>&nbsp;</th>
              <th>&nbsp;</th>
              <th>Product</th>
              <th>Price</th>
              <th>ADD</th>
              <th>Quantity</th>
              <th>REMOVE</th>
              <th>total</th>
              <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr class="alert" role="alert">
              <td>
                <label class="checkbox-wrap checkbox-primary">
                </label>
              </td>
              <td>
                <img class="img" src="assets/img/menu-5.jpg" />
              </td>
              <td>
                <div class="email">
                  <span>Sneakers Shoes 2020 For Men </span>
                  <span>Fugiat voluptates quasi nemo, ipsa perferendis</span>
                </div>
              </td>
              <td>$44.99</td>
              <td class="quantity">
                <div class="input-group">
                  <a href="#">
                    <i class="fa fa-plus"></i>
                  </a>
                </div>
              </td>
              <td class="quantity">
                <div class="input-group">
                  <input disabled type="text" name="quantity" class="quantity form-control input-number" value="2" min="1" max="100">
                </div>
              </td>
              <td class="quantity">
                <div class="input-group">
                  <a href="#">
                    <i class="fa fa-minus"></i>
                  </a>
                </div>
              </td>
              <td>$89.98</td>
              <td>
                <button type="button" class="close"  aria-label="Close">
                  X
                </button>
              </td>
            </tr>
            <tr class="alert" role="alert">
              <td>
                <label class="checkbox-wrap checkbox-primary">
                </label>
              </td>
              <td>
                <img class="img" src="assets/img/menu-5.jpg" />
              </td>
              <td>
                <div class="email">
                  <span>Sneakers Shoes 2020 For Men </span>
                  <span>Fugiat voluptates quasi nemo, ipsa perferendis</span>
                </div>
              </td>
              <td>$44.99</td>
              <td class="quantity">
                <div class="input-group">
                  <a href="#">
                    <i class="fa fa-plus"></i>
                  </a>
                </div>
              </td>
              <td class="quantity">
                <div class="input-group">
                  <input disabled type="text" name="quantity" class="quantity form-control input-number" value="2" min="1" max="100">
                </div>
              </td>
              <td class="quantity">
                <div class="input-group">
                  <a href="#">
                    <i class="fa fa-minus"></i>
                  </a>
                </div>
              </td>
              <td>$89.98</td>
              <td>
                <button type="button" class="close"  aria-label="Close">
                  X
                </button>
              </td>
            </tr>
            <tr class="alert" role="alert">
              <td>
                <label class="checkbox-wrap checkbox-primary">
                </label>
              </td>
              <td>
                <img class="img" src="assets/img/menu-5.jpg" />
              </td>
              <td>
                <div class="email">
                  <span>Sneakers Shoes 2020 For Men </span>
                  <span>Fugiat voluptates quasi nemo, ipsa perferendis</span>
                </div>
              </td>
              <td>$44.99</td>
              <td class="quantity">
                <div class="input-group">
                  <a href="#">
                    <i class="fa fa-plus"></i>
                  </a>
                </div>
              </td>
              <td class="quantity">
                <div class="input-group">
                  <input disabled type="text" name="quantity" class="quantity form-control input-number" value="2" min="1" max="100">
                </div>
              </td>
              <td class="quantity">
                <div class="input-group">
                  <a href="#">
                    <i class="fa fa-minus"></i>
                  </a>
                </div>
              </td>
              <td>$89.98</td>
              <td>
                <button type="button" class="close"  aria-label="Close">
                  X
                </button>
              </td>
            </tr>
            <tr class="alert" role="alert">
              <td>
                <label class="checkbox-wrap checkbox-primary">
                </label>
              </td>
              <td>
                <img class="img" src="assets/img/menu-5.jpg" />
              </td>
              <td>
                <div class="email">
                  <span>Sneakers Shoes 2020 For Men </span>
                  <span>Fugiat voluptates quasi nemo, ipsa perferendis</span>
                </div>
              </td>
              <td>$44.99</td>
              <td class="quantity">
                <div class="input-group">
                  <a href="#">
                    <i class="fa fa-plus"></i>
                  </a>
                </div>
              </td>
              <td class="quantity">
                <div class="input-group">
                  <input disabled type="text" name="quantity" class="quantity form-control input-number" value="2" min="1" max="100">
                </div>
              </td>
              <td class="quantity">
                <div class="input-group">
                  <a href="#">
                    <i class="fa fa-minus"></i>
                  </a>
                </div>
              </td>
              <td>$89.98</td>
              <td>
                <button type="button" class="close"  aria-label="Close">
                  X
                </button>
              </td>
            </tr>
            <tr class="alert" role="alert">
              <td>
                <label class="checkbox-wrap checkbox-primary">
                </label>
              </td>
              <td>
                <img class="img" src="assets/img/menu-5.jpg" />
              </td>
              <td>
                <div class="email">
                  <span>Sneakers Shoes 2020 For Men </span>
                  <span>Fugiat voluptates quasi nemo, ipsa perferendis</span>
                </div>
              </td>
              <td>$44.99</td>
              <td class="quantity">
                <div class="input-group">
                  <a href="#">
                    <i class="fa fa-plus"></i>
                  </a>
                </div>
              </td>
              <td class="quantity">
                <div class="input-group">
                  <input disabled type="text" name="quantity" class="quantity form-control input-number" value="2" min="1" max="100">
                </div>
              </td>
              <td class="quantity">
                <div class="input-group">
                  <a href="#">
                    <i class="fa fa-minus"></i>
                  </a>
                </div>
              </td>
              <td>$89.98</td>
              <td>
                <button type="button" class="close"  aria-label="Close">
                  X
                </button>
              </td>
            </tr>
            </tbody>
          </table>
          <button type="button" class="btn btn-success col-12">Take Order</button>
        </div>
      </div>
    </div>
  </div>
</section>
