<div id="page-contents">
  <div class="container">
    <div class="row">

      <app-left-bar></app-left-bar>
      <div class="col-md-7">
          <app-publish></app-publish>
        <div class="media">
          <div class="row js-masonry" data-masonry="{ &quot;itemSelector&quot;: &quot;.grid-item&quot;, &quot;columnWidth&quot;: &quot;.grid-sizer&quot;, &quot;percentPosition&quot;: true }" style="position: relative; height: 1723.79px;">
            <div class="grid-sizer col-md-6 col-sm-6"></div>
            <div class="grid-item col-md-6 col-sm-6" style="position: absolute; left: 0%; top: 0px;">
              <div class="media-grid">
                <div class="img-wrapper" data-toggle="modal" data-target=".modal-1">
                  <img src="assets/images/post-images/6.jpg" alt="" class="img-responsive post-image">
                </div>
                <div class="media-info">
                  <div class="reaction">
                    <a class="btn text-green"><i class="fa fa-thumbs-up"></i> 63</a>
                    <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 12</a>
                  </div>
                  <div class="user-info">
                    <img src="assets/images/users/user-8.jpg" alt="" class="profile-photo-sm pull-left">
                    <div class="user">
                      <h6><a href="#" class="profile-link">Richard Bell</a></h6>
                      <a class="text-green" href="#">Friend</a>
                    </div>
                  </div>
                </div>

                <!--Popup-->
                <div class="modal fade modal-1" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="post-content">
                        <img src="assets/images/post-images/1.jpg" alt="post-image" class="img-responsive post-image">
                        <div class="post-container">
                          <img src="assets/images/users/user-5.jpg" alt="user" class="profile-photo-md pull-left">
                          <div class="post-detail">
                            <div class="user-info">
                              <h5><a href="timeline.html" class="profile-link">Alexis Clark</a> <span class="following">following</span></h5>
                              <p class="text-muted">Published a photo about 3 mins ago</p>
                            </div>
                            <div class="reaction">
                              <a class="btn text-green"><i class="icon ion-thumbsup"></i> 13</a>
                              <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 0</a>
                            </div>
                            <div class="line-divider"></div>
                            <div class="post-text">
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <i class="em em-anguished"></i> <i class="em em-anguished"></i> <i class="em em-anguished"></i></p>
                            </div>
                            <div class="line-divider"></div>
                            <div class="post-comment">
                              <img src="assets/images/users/user-11.jpg" alt="" class="profile-photo-sm">
                              <p><a href="timeline.html" class="profile-link">Diana </a><i class="em em-laughing"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
                            </div>
                            <div class="post-comment">
                              <img src="assets/images/users/user-4.jpg" alt="" class="profile-photo-sm">
                              <p><a href="timeline.html" class="profile-link">John</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
                            </div>
                            <div class="post-comment">
                              <img src="assets/images/users/user-1.jpg" alt="" class="profile-photo-sm">
                              <input type="text" class="form-control" placeholder="Post a comment">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!--Popup End-->

              </div>
            </div>
            <div class="grid-item col-md-6 col-sm-6" style="position: absolute; left: 49.9592%; top: 0px;">
              <div class="media-grid">
                <div class="img-wrapper" data-toggle="modal" data-target=".modal-2">
                  <img src="assets/images/post-images/3.jpg" alt="" class="img-responsive post-image">
                </div>
                <div class="media-info">
                  <div class="reaction">
                    <a class="btn text-green"><i class="fa fa-thumbs-up"></i> 100</a>
                    <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 99</a>
                  </div>
                  <div class="user-info">
                    <img src="assets/images/users/user-5.jpg" alt="" class="profile-photo-sm pull-left">
                    <div class="user">
                      <h6><a href="#" class="profile-link">Sarah Cruiz</a></h6>
                      <a class="text-green" href="#">Friend</a>
                    </div>
                  </div>
                </div>

                <!--Popup-->
                <div class="modal fade modal-2" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="post-content">
                        <img src="assets/images/post-images/1.jpg" alt="post-image" class="img-responsive post-image">
                        <div class="post-container">
                          <img src="assets/images/users/user-5.jpg" alt="user" class="profile-photo-md pull-left">
                          <div class="post-detail">
                            <div class="user-info">
                              <h5><a href="timeline.html" class="profile-link">Alexis Clark</a> <span class="following">following</span></h5>
                              <p class="text-muted">Published a photo about 3 mins ago</p>
                            </div>
                            <div class="reaction">
                              <a class="btn text-green"><i class="icon ion-thumbsup"></i> 13</a>
                              <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 0</a>
                            </div>
                            <div class="line-divider"></div>
                            <div class="post-text">
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <i class="em em-anguished"></i> <i class="em em-anguished"></i> <i class="em em-anguished"></i></p>
                            </div>
                            <div class="line-divider"></div>
                            <div class="post-comment">
                              <img src="assets/images/users/user-11.jpg" alt="" class="profile-photo-sm">
                              <p><a href="timeline.html" class="profile-link">Diana </a><i class="em em-laughing"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
                            </div>
                            <div class="post-comment">
                              <img src="assets/images/users/user-4.jpg" alt="" class="profile-photo-sm">
                              <p><a href="timeline.html" class="profile-link">John</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
                            </div>
                            <div class="post-comment">
                              <img src="assets/images/users/user-1.jpg" alt="" class="profile-photo-sm">
                              <input type="text" class="form-control" placeholder="Post a comment">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!--Popup End-->

              </div>
            </div>
            <div class="grid-item col-md-6 col-sm-6" style="position: absolute; left: 49.9592%; top: 357px;">
              <div class="media-grid">
                <div class="img-wrapper" data-toggle="modal" data-target=".modal-3">
                  <img src="assets/images/post-images/5.jpg" alt="" class="img-responsive post-image">
                </div>
                <div class="media-info">
                  <div class="reaction">
                    <a class="btn text-green"><i class="fa fa-thumbs-up"></i> 233</a>
                    <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 30</a>
                  </div>
                  <div class="user-info">
                    <img src="assets/images/users/user-7.jpg" alt="" class="profile-photo-sm pull-left">
                    <div class="user">
                      <h6><a href="#" class="profile-link">Robert Cook</a></h6>
                      <a class="text-green" href="#">Friend</a>
                    </div>
                  </div>
                </div>

                <!--Popup-->
                <div class="modal fade modal-3" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="post-content">
                        <img src="assets/images/post-images/1.jpg" alt="post-image" class="img-responsive post-image">
                        <div class="post-container">
                          <img src="assets/images/users/user-5.jpg" alt="user" class="profile-photo-md pull-left">
                          <div class="post-detail">
                            <div class="user-info">
                              <h5><a href="timeline.html" class="profile-link">Alexis Clark</a> <span class="following">following</span></h5>
                              <p class="text-muted">Published a photo about 3 mins ago</p>
                            </div>
                            <div class="reaction">
                              <a class="btn text-green"><i class="icon ion-thumbsup"></i> 13</a>
                              <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 0</a>
                            </div>
                            <div class="line-divider"></div>
                            <div class="post-text">
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <i class="em em-anguished"></i> <i class="em em-anguished"></i> <i class="em em-anguished"></i></p>
                            </div>
                            <div class="line-divider"></div>
                            <div class="post-comment">
                              <img src="assets/images/users/user-11.jpg" alt="" class="profile-photo-sm">
                              <p><a href="timeline.html" class="profile-link">Diana </a><i class="em em-laughing"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
                            </div>
                            <div class="post-comment">
                              <img src="assets/images/users/user-4.jpg" alt="" class="profile-photo-sm">
                              <p><a href="timeline.html" class="profile-link">John</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
                            </div>
                            <div class="post-comment">
                              <img src="assets/images/users/user-1.jpg" alt="" class="profile-photo-sm">
                              <input type="text" class="form-control" placeholder="Post a comment">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!--Popup End-->

              </div>
            </div>
            <div class="grid-item col-md-6 col-sm-6" style="position: absolute; left: 0%; top: 420px;">
              <div class="media-grid">
                <div class="img-wrapper" data-toggle="modal" data-target=".modal-4">
                  <img src="assets/images/post-images/2.jpg" alt="" class="img-responsive post-image">
                </div>
                <div class="media-info">
                  <div class="reaction">
                    <a class="btn text-green"><i class="fa fa-thumbs-up"></i> 73</a>
                    <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 4</a>
                  </div>
                  <div class="user-info">
                    <img src="assets/images/users/user-4.jpg" alt="" class="profile-photo-sm pull-left">
                    <div class="user">
                      <h6><a href="#" class="profile-link">John Doe</a></h6>
                      <a class="text-green" href="#">Friend</a>
                    </div>
                  </div>
                </div>

                <!--Popup-->
                <div class="modal fade modal-4" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="post-content">
                        <img src="assets/images/post-images/1.jpg" alt="post-image" class="img-responsive post-image">
                        <div class="post-container">
                          <img src="assets/images/users/user-5.jpg" alt="user" class="profile-photo-md pull-left">
                          <div class="post-detail">
                            <div class="user-info">
                              <h5><a href="timeline.html" class="profile-link">Alexis Clark</a> <span class="following">following</span></h5>
                              <p class="text-muted">Published a photo about 3 mins ago</p>
                            </div>
                            <div class="reaction">
                              <a class="btn text-green"><i class="icon ion-thumbsup"></i> 13</a>
                              <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 0</a>
                            </div>
                            <div class="line-divider"></div>
                            <div class="post-text">
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <i class="em em-anguished"></i> <i class="em em-anguished"></i> <i class="em em-anguished"></i></p>
                            </div>
                            <div class="line-divider"></div>
                            <div class="post-comment">
                              <img src="assets/images/users/user-11.jpg" alt="" class="profile-photo-sm">
                              <p><a href="timeline.html" class="profile-link">Diana </a><i class="em em-laughing"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
                            </div>
                            <div class="post-comment">
                              <img src="assets/images/users/user-4.jpg" alt="" class="profile-photo-sm">
                              <p><a href="timeline.html" class="profile-link">John</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
                            </div>
                            <div class="post-comment">
                              <img src="assets/images/users/user-1.jpg" alt="" class="profile-photo-sm">
                              <input type="text" class="form-control" placeholder="Post a comment">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!--Popup End-->

              </div>
            </div>
            <div class="grid-item col-md-6 col-sm-6" style="position: absolute; left: 0%; top: 746px;">
              <div class="media-grid">
                <div class="img-wrapper" data-toggle="modal" data-target=".modal-5">
                  <img src="assets/images/post-images/4.jpg" alt="" class="img-responsive post-image">
                </div>
                <div class="media-info">
                  <div class="reaction">
                    <a class="btn text-green"><i class="fa fa-thumbs-up"></i> 34</a>
                    <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 2</a>
                  </div>
                  <div class="user-info">
                    <img src="assets/images/users/user-3.jpg" alt="" class="profile-photo-sm pull-left">
                    <div class="user">
                      <h6><a href="#" class="profile-link">Sophia Lee</a></h6>
                      <a class="text-green" href="#">Friend</a>
                    </div>
                  </div>
                </div>

                <!--Popup-->
                <div class="modal fade modal-5" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="post-content">
                        <img src="assets/images/post-images/1.jpg" alt="post-image" class="img-responsive post-image">
                        <div class="post-container">
                          <img src="assets/images/users/user-5.jpg" alt="user" class="profile-photo-md pull-left">
                          <div class="post-detail">
                            <div class="user-info">
                              <h5><a href="timeline.html" class="profile-link">Alexis Clark</a> <span class="following">following</span></h5>
                              <p class="text-muted">Published a photo about 3 mins ago</p>
                            </div>
                            <div class="reaction">
                              <a class="btn text-green"><i class="icon ion-thumbsup"></i> 13</a>
                              <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 0</a>
                            </div>
                            <div class="line-divider"></div>
                            <div class="post-text">
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <i class="em em-anguished"></i> <i class="em em-anguished"></i> <i class="em em-anguished"></i></p>
                            </div>
                            <div class="line-divider"></div>
                            <div class="post-comment">
                              <img src="assets/images/users/user-11.jpg" alt="" class="profile-photo-sm">
                              <p><a href="timeline.html" class="profile-link">Diana </a><i class="em em-laughing"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
                            </div>
                            <div class="post-comment">
                              <img src="assets/images/users/user-4.jpg" alt="" class="profile-photo-sm">
                              <p><a href="timeline.html" class="profile-link">John</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
                            </div>
                            <div class="post-comment">
                              <img src="assets/images/users/user-1.jpg" alt="" class="profile-photo-sm">
                              <input type="text" class="form-control" placeholder="Post a comment">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!--Popup End-->

              </div>
            </div>
            <div class="grid-item col-md-6 col-sm-6" style="position: absolute; left: 49.9592%; top: 920px;">
              <div class="media-grid">
                <div class="img-wrapper" data-toggle="modal" data-target=".modal-6">
                  <img src="assets/images/post-images/7.jpg" alt="" class="img-responsive post-image">
                </div>
                <div class="media-info">
                  <div class="reaction">
                    <a class="btn text-green"><i class="fa fa-thumbs-up"></i> 71</a>
                    <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 0</a>
                  </div>
                  <div class="user-info">
                    <img src="assets/images/users/user-4.jpg" alt="" class="profile-photo-sm pull-left">
                    <div class="user">
                      <h6><a href="#" class="profile-link">John Doe</a></h6>
                      <a class="text-green" href="#">Friend</a>
                    </div>
                  </div>
                </div>

                <!--Popup-->
                <div class="modal fade modal-6" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="post-content">
                        <img src="assets/images/post-images/1.jpg" alt="post-image" class="img-responsive post-image">
                        <div class="post-container">
                          <img src="assets/images/users/user-5.jpg" alt="user" class="profile-photo-md pull-left">
                          <div class="post-detail">
                            <div class="user-info">
                              <h5><a href="timeline.html" class="profile-link">Alexis Clark</a> <span class="following">following</span></h5>
                              <p class="text-muted">Published a photo about 3 mins ago</p>
                            </div>
                            <div class="reaction">
                              <a class="btn text-green"><i class="icon ion-thumbsup"></i> 13</a>
                              <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 0</a>
                            </div>
                            <div class="line-divider"></div>
                            <div class="post-text">
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <i class="em em-anguished"></i> <i class="em em-anguished"></i> <i class="em em-anguished"></i></p>
                            </div>
                            <div class="line-divider"></div>
                            <div class="post-comment">
                              <img src="assets/images/users/user-11.jpg" alt="" class="profile-photo-sm">
                              <p><a href="timeline.html" class="profile-link">Diana </a><i class="em em-laughing"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
                            </div>
                            <div class="post-comment">
                              <img src="assets/images/users/user-4.jpg" alt="" class="profile-photo-sm">
                              <p><a href="timeline.html" class="profile-link">John</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
                            </div>
                            <div class="post-comment">
                              <img src="assets/images/users/user-1.jpg" alt="" class="profile-photo-sm">
                              <input type="text" class="form-control" placeholder="Post a comment">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!--Popup End-->

              </div>
            </div>
            <div class="grid-item col-md-6 col-sm-6" style="position: absolute; left: 0%; top: 1073px;">
              <div class="media-grid">
                <div class="img-wrapper" data-toggle="modal" data-target=".modal-7">
                  <img src="assets/images/post-images/1.jpg" alt="" class="img-responsive post-image">
                </div>
                <div class="media-info">
                  <div class="reaction">
                    <a class="btn text-green"><i class="fa fa-thumbs-up"></i> 55</a>
                    <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 2</a>
                  </div>
                  <div class="user-info">
                    <img src="assets/images/users/user-5.jpg" alt="" class="profile-photo-sm pull-left">
                    <div class="user">
                      <h6><a href="#" class="profile-link">Alexis Clark</a></h6>
                      <a class="text-green" href="#">Friend</a>
                    </div>
                  </div>
                </div>

                <!--Popup-->
                <div class="modal fade modal-7" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="post-content">
                        <img src="assets/images/post-images/1.jpg" alt="post-image" class="img-responsive post-image">
                        <div class="post-container">
                          <img src="assets/images/users/user-5.jpg" alt="user" class="profile-photo-md pull-left">
                          <div class="post-detail">
                            <div class="user-info">
                              <h5><a href="timeline.html" class="profile-link">Alexis Clark</a> <span class="following">following</span></h5>
                              <p class="text-muted">Published a photo about 3 mins ago</p>
                            </div>
                            <div class="reaction">
                              <a class="btn text-green"><i class="icon ion-thumbsup"></i> 13</a>
                              <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 0</a>
                            </div>
                            <div class="line-divider"></div>
                            <div class="post-text">
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <i class="em em-anguished"></i> <i class="em em-anguished"></i> <i class="em em-anguished"></i></p>
                            </div>
                            <div class="line-divider"></div>
                            <div class="post-comment">
                              <img src="assets/images/users/user-11.jpg" alt="" class="profile-photo-sm">
                              <p><a href="timeline.html" class="profile-link">Diana </a><i class="em em-laughing"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
                            </div>
                            <div class="post-comment">
                              <img src="assets/images/users/user-4.jpg" alt="" class="profile-photo-sm">
                              <p><a href="timeline.html" class="profile-link">John</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
                            </div>
                            <div class="post-comment">
                              <img src="assets/images/users/user-1.jpg" alt="" class="profile-photo-sm">
                              <input type="text" class="form-control" placeholder="Post a comment">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!--Popup End-->

              </div>
            </div>
            <div class="grid-item col-md-6 col-sm-6" style="position: absolute; left: 49.9592%; top: 1203px;">
              <div class="media-grid">
                <div class="img-wrapper" data-toggle="modal" data-target=".modal-8">
                  <img src="assets/images/post-images/9.jpg" alt="" class="img-responsive post-image">
                </div>
                <div class="media-info">
                  <div class="reaction">
                    <a class="btn text-green"><i class="fa fa-thumbs-up"></i> 81</a>
                    <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 1</a>
                  </div>
                  <div class="user-info">
                    <img src="assets/images/users/user-2.jpg" alt="" class="profile-photo-sm pull-left">
                    <div class="user">
                      <h6><a href="#" class="profile-link">Linda Lohan</a></h6>
                      <a class="text-green" href="#">Friend</a>
                    </div>
                  </div>
                </div>

                <!--Popup-->
                <div class="modal fade modal-8" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="post-content">
                        <img src="assets/images/post-images/1.jpg" alt="post-image" class="img-responsive post-image">
                        <div class="post-container">
                          <img src="assets/images/users/user-5.jpg" alt="user" class="profile-photo-md pull-left">
                          <div class="post-detail">
                            <div class="user-info">
                              <h5><a href="timeline.html" class="profile-link">Alexis Clark</a> <span class="following">following</span></h5>
                              <p class="text-muted">Published a photo about 3 mins ago</p>
                            </div>
                            <div class="reaction">
                              <a class="btn text-green"><i class="icon ion-thumbsup"></i> 13</a>
                              <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 0</a>
                            </div>
                            <div class="line-divider"></div>
                            <div class="post-text">
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <i class="em em-anguished"></i> <i class="em em-anguished"></i> <i class="em em-anguished"></i></p>
                            </div>
                            <div class="line-divider"></div>
                            <div class="post-comment">
                              <img src="assets/images/users/user-11.jpg" alt="" class="profile-photo-sm">
                              <p><a href="timeline.html" class="profile-link">Diana </a><i class="em em-laughing"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
                            </div>
                            <div class="post-comment">
                              <img src="assets/images/users/user-4.jpg" alt="" class="profile-photo-sm">
                              <p><a href="timeline.html" class="profile-link">John</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
                            </div>
                            <div class="post-comment">
                              <img src="assets/images/users/user-1.jpg" alt="" class="profile-photo-sm">
                              <input type="text" class="form-control" placeholder="Post a comment">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!--Popup End-->

              </div>
            </div>
            <div class="grid-item col-md-6 col-sm-6" style="position: absolute; left: 0%; top: 1399px;">
              <div class="media-grid">
                <div class="img-wrapper" data-toggle="modal" data-target=".modal-9">
                  <img src="assets/images/post-images/8.jpg" alt="" class="img-responsive post-image">
                </div>
                <div class="media-info">
                  <div class="reaction">
                    <a class="btn text-green"><i class="fa fa-thumbs-up"></i> 47</a>
                    <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 9</a>
                  </div>
                  <div class="user-info">
                    <img src="assets/images/users/user-5.jpg" alt="" class="profile-photo-sm pull-left">
                    <div class="user">
                      <h6><a href="#" class="profile-link">Julia Cox</a></h6>
                      <a class="text-green" href="#">Friend</a>
                    </div>
                  </div>
                </div>

                <!--Popup-->
                <div class="modal fade modal-9" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="post-content">
                        <img src="assets/images/post-images/1.jpg" alt="post-image" class="img-responsive post-image">
                        <div class="post-container">
                          <img src="assets/images/users/user-5.jpg" alt="user" class="profile-photo-md pull-left">
                          <div class="post-detail">
                            <div class="user-info">
                              <h5><a href="timeline.html" class="profile-link">Alexis Clark</a> <span class="following">following</span></h5>
                              <p class="text-muted">Published a photo about 3 mins ago</p>
                            </div>
                            <div class="reaction">
                              <a class="btn text-green"><i class="icon ion-thumbsup"></i> 13</a>
                              <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 0</a>
                            </div>
                            <div class="line-divider"></div>
                            <div class="post-text">
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <i class="em em-anguished"></i> <i class="em em-anguished"></i> <i class="em em-anguished"></i></p>
                            </div>
                            <div class="line-divider"></div>
                            <div class="post-comment">
                              <img src="assets/images/users/user-11.jpg" alt="" class="profile-photo-sm">
                              <p><a href="timeline.html" class="profile-link">Diana </a><i class="em em-laughing"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
                            </div>
                            <div class="post-comment">
                              <img src="assets/images/users/user-4.jpg" alt="" class="profile-photo-sm">
                              <p><a href="timeline.html" class="profile-link">John</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
                            </div>
                            <div class="post-comment">
                              <img src="assets/images/users/user-1.jpg" alt="" class="profile-photo-sm">
                              <input type="text" class="form-control" placeholder="Post a comment">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!--Popup End-->
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-right-bar></app-right-bar>
    </div>
  </div>
</div>
